
:root {
  --commonfontsize: arial;
  --mycolor: lightgreen;
  background-color: lightgreen;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 1;
  background-color: brown;
  font-family: serif;
  background-image: url(bk2.jpeg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: black;
  font-size: 100%;
  margin-top: -20px;
  margin-left: 1px;
}
img {
  margin-left: 20px;
  margin-top: -60px;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
}

h2 {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  line-height: 1.5;
  max-width: fit-content;
  margin-top: 5px;
  margin-left: 20px;
  color: white;
}

nav li a {
  color: white;
}

#flex.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1 2 5px;
  border-radius: 10px;
  border: white dashed;
}

h4 {
  position: relative;
  left: 200px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1px;
  border: 2px green solid;
  max-width: 50%;
  margin-top: 50px;
  height: 30px;
  background-color: var(--mycolor);
  box-shadow: 0px 0px 10px 10px var(--mycolor);
}

span {
  background-color: brown;
  text-align: center;
  display: inline-block;
  width: 500px;
  border: white dashed;
  font-size: 20px;
  font-family: serif;
  height: 200px;
  border-radius: 16px;
  margin-top: 30px;
  margin-left: 75px;
  border-color: greenyellow;
  padding: 20px;
  position: wrap;
}
.webpic{
  width: 100%;
  display: flex;
  cursor: pointer;
  width: 500px;
  height: 200px;
  position:absolute;
  margin-top: 38px;
  margin-left: 75px;
}
main {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: brown;
  color: black;
  background-image: url(bk2.jpeg);
}
p {
  margin-left: 20px;
  color: white;
}

h3,
li {
  margin-left: 20px;
}

.box {
  border-style: solid;
  border-color: orange;
  border-radius: 10px;
  background-color: var(--mycolor);
  box-shadow: 0px 0px 10px 10px var(--mycolor);
  margin-top: 10px;
  position: relative;
}
.tan {
  position: relative;
  color: darkblue;
  left: 900px;
  border-style: solid;
  border-style: solid;
  border-radius: 10px;
  border-color: orange;
  background-color: var(--mycolor);
  box-shadow: 0px 0px 10px 10px var(--mycolor);
}

nav ul {
  list-style: none;
  margin: 5 6px;
  margin-left: 2px;
  padding: 0;
  color: darkblue;
}

nav li {
  display: inline-block;
  padding: 4px 5px;
  font-size: 20px;
  margin-top: 30px;
}

div h4 {
  position: relative;
  left: 50px;
  top: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol li {
  color: white;
}

aside {
  color: white;
  margin-left: 20px;
}

button {
  max-width: fit-content;
  margin-left: 40px;
  border-color: yellow;
}

p i {
  color: white;
}

input {
  margin-left: 30px;
  border-color: yellow;
}

textarea {
  border-color: yellow;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
}
footer p{
  color: white;
}